header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .navbar img{
    width: 50px;
  }
  /* Links do Navbar */
  .nav-link {
    color: var(--texto);
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
  }
  
  /* Efeito hover para cada âncora */
  .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--cor2);
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .nav-link:hover {
    color: var(--cor1);
    transform: scale(1.05);
  }
  
  .nav-link:hover::before {
    width: 100%;
    left: 0;
  }


.header-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 24px;
}