.main {
    background-image: url('/arquivos/imagem2.jpg');
    background-size: cover;
    background-position: center; /* centraliza a imagem de fundo */
    position: relative; /* define o contexto de posicionamento para o conteúdo sobreposto */
    height: 200vh; /* define a altura para cobrir a tela inteira, ajuste conforme necessário */
}

.container {
    position: absolute; /* permite posicionar o container sobre a imagem de fundo */
    top: 50%; /* centraliza verticalmente */
    left: 50%; /* centraliza horizontalmente */
    transform: translate(-50%, -50%); /* ajusta a posição para o centro exato */
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    padding: 30px; /* ajuste conforme necessário */
    width: 80%; /* define a largura do container, ajuste conforme necessário */
    max-width: 600px; /* largura máxima para limitar o tamanho em telas maiores */
}

.paragrafo {
    font-size: 16px; 
    line-height: 1.6;
    margin: 20px 0; 
    color: #F1FFFA; 
    text-align: justify; 
    padding: 10px;
}

.frasesdeefeito { 
    color: #F1FFFA; 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
