footer {
    background-color: #568259; /* cor de fundo do rodapé */
    color: #F1FFFA; /* cor do texto */
    padding-bottom: 200px;
}

.rodape-conteudo {
    display: flex;
    justify-content: space-around; /* distribui o espaço uniformemente */
    max-width: 1200px; /* largura máxima para limitar o conteúdo centralizado */
    margin: 0 auto; /* centraliza o conteúdo na página */
    padding-top: 50px;
}

.rodape-conteudo ul {
    list-style-type: none;
    padding: 0;
}

.rodape-conteudo h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.rodape-conteudo li {
    margin: 5px 0;
}

.rodape-conteudo a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.rodape-conteudo li a:hover {
    color: #96E6B3;
}






